 /* Fonts */
$open-sans: 'Open Sans', sans-serif;

$default-font: $open-sans;
$base-font-size: 13;
$base-line-height: 22;
$default-color: #333;

/* Colors */
$header-color: rgba(255,255,255,.85);
$dark-blue: #3e5d74;
$red-light: #f73f59;
$red-dark: #d5354b;
$green: #00673b;
$grey: #999;
$white: #fff;
$header: #3e5d74;
$bkg-footer: #3e5d74;
